*{
    margin:0;
    padding:0;
}

.container{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: calc(10px+2vmin);
    text-align: center;
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation:gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.formCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formCard input{
    background-color: transparent;
    border:1px solid rdba(255,255,255, .6);
    background-color: rdba(255,255,255, .1);
    outline:none;
    border-radius: 8px;
    padding: 10px;
    margin:7px;
    color:white;
    min-width:520px;
    box-shadow: 0 0 6px rgba(0,0,0, .2);
}
h1{
    margin:32px;
}
.formCard button{
    width:300px;
    background-color: transparent;
    border:1px solid rgba(255,255,255, .6);
    background-color: rgba(255,255,255, .4);
    outline:none;
    border-radius: 8px;
    padding:10px;
    margin:5px;
    color:white;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0, .2);
}
.userDetailCard{
    display:flex;
    margin:10px;
    margin-top:30px;
    padding:1rem;
    background: rgba(255,255,255, .2);
    box-shadow: 0 8px 32px 0 rgba(31,38,135, .36);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0.18);

}
.userDetailBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    text-align: left;
}
.userDetailBody .name{
    font-size: 1.5rem;
    font-weight: 600;
    
}
.follow{
    display:flex;
    gap:16px;
    margin:8px 0;
    font-size: 16px;

}
.prof{
    text-align: left;
    font-size: 20px;
    margin-top:8px ;
}
.username{
    font-size: 16px;
}
.userImage{
    margin-left: 40px;
}
.userImage img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.6);
    box-shadow: 0 0 6px rgba(255,255,255, .2);
}
